<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tittle %></title>
    <style>
        body{
            overflow: hidden;
            width: 100vw;
            height: 100vh;
            background-color: #3D3B40;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
           
        }
        h1{
            padding: 5px;
            border-radius: 5px;
            color: rgba(255,255,255,0.5);
        }
    </style>
</head>
<body>
    
    <% if (code == 200) { %>
        <h1><%= message %></h1>
    <% } else{ %>
        <h1><%= code %></h1>
        <h1><%= message %></h1>
        <% } %>
    
</body>
</html>